---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2019-2024",
    title: "Gerente de Infraestructura IT",
    company: "Distribuidora Martinez Santos SAS",
    description:
      "Administración de recursos TI, manejo de servidores, redes y bases de datos, planificación e implementación de nuevas estrategias para cubrir las nuevas necesidades del negocio en el área tecnólogica.",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "Septiembre 2022",
    title: "Freelancer Software Developer",
    company: "Clientes del area agricola",
    description:
      "Desarrollo de aplicación para calculo y diseño depuestas a tierra de instalaciones electricas residenciales. Sistema de gestión de animales que permite hacer un seguimiento detallado de los diferentes animales registrados y sus características tales como edad, peso mediante informes numéricos y gráficos",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
